option_settings:
  aws:elasticbeanstalk:container:nodejs: 
    NodeVersion: 20
  aws:elasticbeanstalk:container:nodejs:staticfiles:
    /static: /server/public
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx

container_commands:
  01_install_dependencies:
    command: "npm install"
  02_build_app:
    command: "npm run build"
  03_configure_nginx:
    command: |
      echo "location / {
        proxy_pass http://127.0.0.1:8081;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection 'upgrade';
        proxy_set_header Host $host;
        proxy_cache_bypass $http_upgrade;
      }" > /tmp/proxy.conf
      sed -i '/location \/ {/r /tmp/proxy.conf' /etc/nginx/conf.d/00_elastic_beanstalk_proxy.conf